/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.nav-btn {
  width: 100%;
}
a {
  display: block;
  height: fit-content;
  margin: 20px auto;
  width: 80%;
  min-width: 100px;
  max-width: 400px;
}
.item__label {
  width: 65%;
}

@media screen and (max-width: 678px) {
  .item__label {
    width: 45%;
  }
}
@media screen and (max-width: 425px) {
  .item__label {
    width: 25%;
  }
}
