/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.nav-btn {
  min-width: 400px;
}
a {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
}
